[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
tensorflow = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
pyyaml = "*"
h5py = "*"
jupyterlab = "*"
notebook = "*"
voila = "*"

[dev-packages]

[requires]
python_version = "3.9"
